{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

{% block head %}
    <title>Cache clear</title>
{% endblock head %}


{% block content %}
    {% if alert_message  %}
        {% bootstrap_alert alert_message alert_type='success' %}
    {% endif %}
    <form action="" method="post" class="form form-horizontal">
        {% csrf_token %}
        {% bootstrap_button 'Очистить весь кеш данных расчетов прогнозов' button_type="submit" button_class="btn-primary" %}
    </form>

{% endblock content %}