{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

{% block head %}
    <title>Forecast caches</title>
{% endblock head %}


{% block content %}
    <form action="" method="post" class="form form-horizontal">
        {% csrf_token %}
        {% bootstrap_form forecast_cache_form layout='horizontal' %}
        {% bootstrap_button 'Сформировать' %}
    </form>

    {% render_table forecast_cache %}
{% endblock content %}