{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

{% block head %}
    <title>Forecasts</title>
{% endblock head %}


{% block content %}
    <form action="" method="post" class="form form-horizontal">
        {% csrf_token %}
        {% bootstrap_form forecast_form layout='horizontal' %}

        {% bootstrap_button 'Сформировать' button_type="submit" button_class="btn-default" name='report' %}
        {% bootstrap_button 'Экспорт' button_type="submit" button_class="btn-default" name='export' %}
    </form>

{#    {% if filter %}#}
{#    <form action="" method="get" class="form form-inline">#}
{#        {% bootstrap_form filter.form layout='inline' %}#}
{#        {% bootstrap_button 'filter' %}#}
{#    </form>#}
{#    {% endif %}#}
    {% render_table forecast_total %}
{% endblock content %}