{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

{% block head %}
    <title>Optimal depth</title>
{% endblock head %}

{% block content %}
    <h2 class="text-center">Поиск оптимальной глубины</h2>
    <form action="" method="post" class="form form-horizontal">
        {% csrf_token %}
        {% bootstrap_form optdepth_form layout='horizontal' %}
        {% bootstrap_button 'Сформировать' %}
    </form>
    {% if show_tables %}
        <h3 class="text-center">Результат расчета прогноза {{ cup }}</h3>
        {% render_table forecast_totals %}
        <h3 class="text-center">Прогноз {{ cup }}</h3>
        {% render_table forecast_table %}
        <h3 class="text-center">Исходные данные для прогноза {{ cup }}</h3>
        {% render_table optdepth_table %}
    {% endif %}
{% endblock content %}