{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

{% block head %}
    <title>Optimal Forecasts</title>
{% endblock head %}


{% block content %}
    <form action="" method="post" class="form form-horizontal">
        {% csrf_token %}
        {% bootstrap_form opt_forecast_form layout='horizontal' %}
        {% bootstrap_button 'Сформировать' button_type="submit" button_class="btn-default" name='report' %}
{#        {% bootstrap_button 'Экспорт' button_type="submit" button_class="btn-default" name='export' %}#}
    </form>

    {% render_table opt_forecast %}
{% endblock content %}