<div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="{% url 'statbet:index' %}">Statbet</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Отчеты <b class="caret"></b></a>
          <ul class="dropdown-menu">
              <li role="presentation" class="dropdown-header">Прогнозы</li>
              <li><a href="{% url 'statbet:forecast' %}">Отдельный прогноз</a></li>
              <li><a href="{% url 'statbet:optdepth' %}">Поиск оптимальной глубины</a></li>
              <li role="presentation" class="dropdown-header">Методы анализа</li>
              <li><a href="{% url 'statbet:optforecast' %}">Метод 1 (Оптимальные прогнозы)</a></li>
              <li><a href="{% url 'statbet:forecastevents' %}">Метод 2 (Лог по году)</a></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation" class="dropdown-header">Кеши</li>

              <li><a href="{% url 'statbet:forecastcache' %}">Кеши прогнозов</a></li>
              <li><a href="{% url 'statbet:cacheclear' %}">Очистить кеш прогнозов</a></li>
          </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav pull-right">
        <li><a href="/admin">Админка</a></li>
    </ul>
</div>